.showToken {
    transition: transform 1s, visibility 0s 0.5s;
    border-radius: 24px;
}

.hideToken {
    transform: rotateY(180deg);
    visibility: hidden;
    transition: transform 1s, visibility 0s 0.5s;
    border-radius: 24px;
}